// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

// Fonts
$fontText: 'Nunito', sans-serif;

// Colors
$colorPrincipal: #2175e8;
$colorNeutral: #ededed;

